{{ define "home/about.tmpl" }}
  <html>
    {{  template "layouts/header.tmpl" . }}
    <body class="ui text container">
      {{ template "layouts/menu.tmpl" .}}
      <div>A Ruby And Golang programer.</div>
    </body>
  </html>
{{end}}
