{{ define "home/index.tmpl" }}
  <html>
    {{  template "layouts/header.tmpl" . }}
    <body class="ui text container">
      {{ template "layouts/menu.tmpl" .}}
      <div style="margin-top: 30px;background: #fff;margin-bottom: 30px">
        {{ range .articles }}
          <a style="display: block;border: solid 1px #eee;padding: 10px;margin-bottom: 15px;" class="article" href="/articles/{{.ID}}">
            <p style="font-size: 16px">{{ .Title }}</p>
            <p style="font-size: 12px;color: #888">{{ datetimeFormat .CreatedAt "2006-01-02" }}</p>
          </a>
        {{end}}
      </div>
      {{ template "layouts/footer.tmpl" .}}
    </body>
  </html>
{{ end }}
