{{ define "home/index.tmpl" }}
  <html>
    {{ template "layouts/header.tmpl" .}}
    <body>
      {{ template "layouts/menu.tmpl" .}}
      <h1>
        {{ if .currentUser }}
          {{ .currentUser.Email }}
        {{ end }}
      </h1>
      <a href="/users/logout">退出</a>
      <p>
        <a href="/users/signup" class="ui primary button">注册</a>
      </p>
      <p><a href="/articles">All Articles</a></p>
      <p><a href="/articles/new">New Article</a></p>
      {{ template "layouts/footer.tmpl" .}}
    </body>
  </html>
{{ end }}