{{ define "home/index.tmpl" }}
  <html>
    {{ template "layouts/header.tmpl" .}}
    <body>
      {{ template "layouts/menu.tmpl" .}}
      <p><a href="/articles">All Articles</a></p>
      <p><a href="/articles/new">New Article</a></p>
      {{ template "layouts/footer.tmpl" .}}
    </body>
  </html>
{{ end }}