{{ define "layouts/footer.tmpl" }}
  <footer>
    <div class="container">
      <a href="/" class="logo-font"></a>
      <span class="attribution">
        @evan
      </span>
    </div>
  </footer>
{{ end }}
