{{ define "layouts/menu.tmpl" }}
  <div class="ui menu">
    <a class="item" href="/">
      Home
    </a>
    {{ if .currentUser }}
      <a class="item">
        {{ .currentUser.Email }}
      </a>
      <a class="item" href="/users/logout">退出</a>
    {{ else }}
      <a class="item" href="/users/login">登录</a>
    {{ end }}
  </div>
{{end}}