{{ define "layouts/menu.tmpl" }}
  <div class="ui three item menu" style="margin-top:10px;">
    {{ if eq .page "home"}}
      <a class="item active" href="/">首页</a>
    {{else}}
      <a class="item" href="/">首页</a>
    {{end}}
    {{ if eq .page "articles"}}
      <a class="item active" href="/articles">列表</a>
    {{else}}
      <a class="item" href="/articles">列表</a>
    {{end}}
    {{ if eq .page "about"}}
      <a class="item active" href="/about">关于</a>
    {{else}}
      <a class="item" href="/about">关于</a>
    {{end}}
  </div>
{{end}}
