{{ define "articles/edit.tmpl" }}
  <html>
    {{ template "layouts/header.tmpl" .}}
    <link rel="stylesheet" href="/assets/vendor/quill/css/quill.snow.css">
    <script src="/assets/vendor/quill/js/quill.min.js"></script>
    <body>
      {{ template "layouts/menu.tmpl" .}}
      <div class="ui container">
        <h1>
          {{ .title }}
        </h1>
        <form action="/dashboard/articles/{{.article.ID}}" class="ui form js-article-form {{ .errClass }}" method="POST">
          <label for="title">Title</label>
          <input type="text" name="title" value={{ .article.Title }}>
          <div class="ui error message">{{ .message.Title }}</div>
          <br>
          <label for="content">Content</label>
          <input type="hidden" name="content" id="articleContent" value={{ .article.Content }}>
          <div id="editor"></div>
          <div class="ui error message">{{ .message.Content }}</div>
          <br>
          <input type="submit" class="ui primary button">
        </form>
      </div>
    </body>
  </html>
  <script>
  $(function(){
    var quill = new Quill('#editor', {
      modules: { toolbar: true },
      theme: 'snow'
    });

    var content = $("#articleContent").val();
    if(content.length > 0) {
      var delta = quill.clipboard.convert($("#articleContent").val());
      quill.setContents(delta, 'silent')
    }

    $( ".js-article-form" ).submit(function() {
      $("#articleContent").val(quill.root.innerHTML);
    });
  })
</script>
{{ end }}
