{{ define "articles/index.tmpl" }}
<!-- https://github.com/frontendfunn/semantic-ui-admin-dashboard-template -->
<!DOCTYPE html>
<html lang="en">
  {{ template "layouts/header.tmpl" .}}
  <body class="ui text container">
    {{ template "layouts/menu.tmpl" .}}
    <div class="pusher">
      <div class="ui main-content" style="padding: 20px;">
        {{ range $i, $e := .articles }}
          <a style="display: block;border: solid 1px #eee;padding: 10px;margin-bottom: 15px;" class="article" href="/articles/{{.ID}}">
            <p style="font-size: 16px">{{ .Title }}</p>
            <p style="font-size: 12px;color: #888">{{ datetimeFormat .CreatedAt "2006-01-02" }}</p>
          </a>
        {{ end }}
        <div>
          {{ if gt .currentPage 1 }} 
            <a href="/articles?page={{Decr .currentPage}}">上一页</a>
          {{ end }}
          总页数{{.totalPages}}({{.currentPage}})
          {{ if lt .currentPage .totalPages }}
            <a href="/articles?page={{Incr .currentPage}}">下一页</a>
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>

{{ end }}

