{{ define "articles/index.tmpl" }}
<html>
  <h1>
    {{ .title }}
  </h1>

  {{ range .articles }}
    <h5><a href="/articles/{{.ID}}">{{ .Title }}</a></h5>
    <span><a href="/articles/{{.ID}}/edit">编辑</a></span>
    <span><a href="/articles/{{.ID}}" data-method="delete">删除</a></span>
    <p>{{ .Content }}</p>
  {{end}}

</html>
{{ end }}