{{ define "articles/show.tmpl" }}
  <html>
    {{ template "layouts/header.tmpl" .}}
    <body>
      {{ template "layouts/menu.tmpl" .}}
      <h1>
        {{ .article.Title }}
      </h1>
      <p>{{ .article.Content }}</p>
    </body>
  </html>
{{ end }}