{{ define "articles/show.tmpl" }}
  <html>
    {{ template "layouts/header.tmpl" .}}
    <body class="ui text container">
      <h1>
        {{ .article.Title }}
      </h1>
      <p>{{ .content }}</p>
      <br>
      <br>
      <br>
      <p>评论:</p>
      {{ range .comments }}
        <div class="ui">
          <form action="/votes" method="post">
            <input type="hidden" name="vote_type" value='1'>
            <input type="hidden" name="comment_id" value={{.ID}}>
            <button type="submit" class="ui button">
              <i class="chevron up icon"></i> {{.VotesCount}}
            </button>
          </form>

          <!--
            <div class="or"></div>
            <form action="/votes" method="post">
              <input type="hidden" name="vote_type" value='0'>
              <input type="hidden" name="comment_id" value={{.ID}}>
              <input type="submit" value="踩()" class="ui button">
              <i class="chevron down icon"></i>
            </form>
          -->
        </div>
        <div class="ui segment">
          <p>{{.Content }}</p>
          <p>{{ datetimeFormat .CreatedAt "2006-01-02 15:04" }}</p>
        </div>
      {{ end }}
      <br>
      <br>
      <br>
      <form action="/comments" class="ui form" method="post">
        <input type="hidden" name="article_id" value={{ .article.ID }}>
        <div class="field">
          <textarea type="text" name="content"></textarea>
        </div>
        <input type="submit" value="提交" class="ui primary button">
      </form>
    </body>
  </html>
{{ end }}
